<% if resource.errors.any? %>
  <div class="error-box">
    <strong><%= pluralize(resource.errors.count, "erreur") %> empêche(nt) l'enregistrement de ce compte.</strong>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
